<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<body>
    <div id="1" class="chen" testId="ceshi"></div>
</body>
<head>
    <script>
        $(function () {
            var v = $("#1").attr("testId")
            // testIdalert(v);
            var className = $("#1").attr("class");
            // alert(className)

            var arrayObj = new Array();
            for(var i = 0;i++;i<10){
                arrayObj.push(1);
            }
            alert(arrayObj)
        })
    </script>

</head>
</html>